---
layout: page
title: Home
---

<section class="list overview">
    <h2>Recent Posts</h2>
    {% for post in site.posts limit: 5 %}
        {% if post.category == "blog" and post.hidden == false %}
            {% include blog-post.html %}
        {% endif %}
    {% endfor %}

    {% if site.posts.size > 5 %}
        <div class="pagination toblog">
            <a href="{{ site.url }}/blog" class="next">More posts</a>
        </div>
    {% endif %}
</section>

<section class="list overview">
    <h2>My Projects</h2>
    {% for post in site.posts %}
        {% if post.projects %}
        	{% include project-post.html %}
        {% endif %}
    {% endfor %}

</section>
